# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
*.json

# Output / reports
assets/
*.png
*.pdf

# Logs
*.log

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store
